.align-center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
/* If the image inside needs to be centered within the figure */
.align-center img {
  display: block; /* Images are inline by default, make them block to center */
  margin-left: auto;
  margin-right: auto;
}

// .publications h2.bibliography {
//   color: #dddcdc; /* Or any darker hex code you prefer, e.g., #333 for darker, #000 for black */
//   /* You might also want to increase font-weight if they're not bold enough: */
//   /* font-weight: bold; */
// }